*{
    font-family: 'Poppins', sans-serif;
}
.register{
    height: 100vh;
}
.h1REG{
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 48px;
    color: black;
}
.pREG{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #737373;
    margin-bottom: 20px;
}
.register-form label {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000;
    margin-top: 20px;
}
.register-form input{
    background: #fff;
    border: 1px solid #bcbcbc;
    box-sizing: border-box;
    border-radius: 8px;
}
.register-form .btnREG1{
    width: 100%;
    height: 42px;
    background-color: grey;
    border-radius: 8px;
    margin-top: 20px;
    border: none;
    margin-left: 10px;
    margin-right: 10px;
}
.btnMAIN{
    display: flex;
}

@media (max-width: 400px){
    .crl{
        display: none;
    }
    .pREG{
        font-style: normal;
        font-weight: 300;
        font-size: small;
        line-height: 21px;
        color: #737373;
        margin-bottom: 20px;
        text-align: left;
    }
    .register-form input{
        background: #fff;
        border: 1px solid #bcbcbc;
        box-sizing: border-box;
        border-radius: 8px;
        width: 300px;
    }
    .btnMAIN{
        display: flex;
    }
    .register-form .btnREG1{
        width: 300px;
        height: 42px;
        background-color: grey;
        border-radius: 8px;
        margin-top: 20px;
        border: none;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 20px;
    }
    .btnMAIN{
        display: flex;
        margin-left: 50px;
    }    
}